#NEXT-1445
CONFIG_VIRTUALIZATION=y
CONFIG_DRM_I915_GVT_KVMGT=n
CONFIG_HAVE_KVM_CPU_RELAX_INTERCEPT=y
CONFIG_HAVE_KVM_EVENTFD=y
CONFIG_HAVE_KVM_IRQCHIP=y
CONFIG_HAVE_KVM_IRQFD=y
CONFIG_HAVE_KVM_IRQ_BYPASS=y
CONFIG_HAVE_KVM_IRQ_ROUTING=y
CONFIG_HAVE_KVM_MSI=y
CONFIG_KVM=m
CONFIG_KVM_AMD=n
CONFIG_KVM_ASYNC_PF=y
CONFIG_KVM_COMPAT=y
CONFIG_KVM_GENERIC_DIRTYLOG_READ_PROTECT=y
CONFIG_KVM_INTEL=m
CONFIG_KVM_MMIO=y
CONFIG_KVM_MMU_AUDIT=n
CONFIG_KVM_VFIO=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_USER_RETURN_NOTIFIER=y
CONFIG_VHOST=m
CONFIG_VHOST_CROSS_ENDIAN_LEGACY=n
CONFIG_VHOST_NET=m
