# SPDX-License-Identifier: GPL-2.0-only
menuconfig USB4
	tristate "Unified support for USB4 and Thunderbolt"
	depends on PCI
	select APPLE_PROPERTIES if EFI_STUB && X86
	select CRC32
	select CRYPTO
	select CRYPTO_HASH
	select NVMEM
	help
	  USB4 and Thunderbolt driver. USB4 is the public speficiation
	  based on Thunderbolt 3 protocol. This driver is required if
	  you want to hotplug Thunderbolt and USB4 compliant devices on
	  Apple hardware or on PCs with Intel Falcon Ridge or newer.

	  To compile this driver a module, choose M here. The module will be
	  called thunderbolt.

config USB4_KUNIT_TEST
	bool "KUnit tests"
	depends on KUNIT=y
	depends on USB4=y

if USB4

config USB4_DEBUG
	bool "Debugging interface (EXPERIMENTAL)"
	help
	  Enable USB4 and Thunderbolt ioctl interface for querying and
	  debugging. This will create /dev/tb_dbgX device for each
	  Thunderbolt controller.

	  Only enable this if you know what you are doing! Never enable
	  this for production systems!

	  The interface is experimental and subject to change any time.
endif
