[submodule "opa-headers"]
	path = opa-headers.git
	url = ssh://git-amr-1.devtools.intel.com:29418/fxr-opa-headers
[submodule "hfi2_vnic/vnic.git"]
	path = hfi2_vnic/vnic.git
	url = ssh://git-amr-3.devtools.intel.com:29418/fxr-vnic
