menuconfig ND_DEVICES
	bool "NVDIMM (Non-Volatile Memory Device) Support"
	help
	  Generic support for non-volatile memory devices including
	  ACPI-6-NFIT defined resources.  On platforms that define an
	  NFIT, or otherwise can discover NVDIMM resources, a libnd
	  bus is registered to advertise PMEM (persistent memory)
	  namespaces (/dev/pmemX) and BLK (sliding mmio window(s))
	  namespaces (/dev/ndX). A PMEM namespace refers to a memory
	  resource that may span multiple DIMMs and support DAX (see
	  CONFIG_DAX).  A BLK namespace refers to an NVDIMM control
	  region which exposes an mmio register set for windowed
	  access mode to non-volatile memory.

if ND_DEVICES

config LIBND
	tristate

config NFIT_TEST
	tristate "NFIT TEST: Manufactured NFIT for interface testing"
	default n
	depends on EXPERT
	depends on DMA_CMA
	depends on LIBND=m
	depends on ACPI_NFIT
	depends on m
	help
	  For development purposes register a manufactured
	  NFIT table to verify the resulting device model topology.
	  Note, this module arranges for ioremap_cache() to be
	  overridden locally to allow simulation of system-memory as an
	  io-memory-resource.

	  Note, this test expects to be able to find at least 256MB of
	  CMA space (CONFIG_CMA_SIZE_MBYTES, cma=) or it will fail to
	  load.

	  Say N unless you are doing development of the 'libnd' subsystem.

config BLK_DEV_PMEM
	tristate "PMEM: Persistent memory block device support"
	depends on LIBND
	default LIBND
	help
	  Memory ranges for PMEM are described by either an NFIT
	  (NVDIMM Firmware Interface Table, see CONFIG_NFIT_ACPI), a
	  non-standard OEM-specific E820 memory type (type-12, see
	  CONFIG_X86_PMEM_LEGACY), or it is manually specified by the
	  'memmap=nn[KMG]!ss[KMG]' kernel command line (see
	  Documentation/kernel-parameters.txt).  This driver converts
	  these persistent memory ranges into block devices that are
	  capable of DAX (direct-access) file system mappings.  See
	  Documentation/blockdev/nd.txt for more details.

	  Say Y if you want to use a NVDIMM described by ACPI, E820, etc...

config ND_BLK
	tristate "BLK: Block data window (aperture) device support"
	depends on LIBND
	default LIBND
	help
	  This driver performs I/O using a set of mmio windows on a
	  dimm.  The set of apertures will all access the one DIMM.
	  Multiple windows allow multiple threads to have a different
	  portions of the dimm open at one time.

	  Say Y if you want to use a NVDIMM with BLK-mode capability

config ND_BTT_DEVS
	bool

config ND_BTT
	tristate "BTT: Block Translation Table (atomic sector updates)"
	depends on LIBND 
	default LIBND
	select ND_BTT_DEVS

config ND_MAX_REGIONS
	int "Maximum number of regions supported by the sub-system"
	default 64
	---help---
	  A 'region' corresponds to an individual DIMM or an interleave
	  set of DIMMs.  A typical maximally configured system may have
	  up to 32 DIMMs.

	  Leave the default of 64 if you are unsure.

config ND_IOSTAT
	bool "LIBND: Enable iostat by default"
	default n
	---help---
	  Persistent memory i/o has very low latency to the point
	  where the overhead to measure statistics can dramatically
	  impact the relative performance of the driver.  Say y here
	  to trade off performance for statistics gathering that is
	  enabled by default.  These statistics can always be
	  enabled/disabled at run time via the 'iostat' attribute of
	  the block device's queue in sysfs.

	  If unsure, say N

endif
