CONFIG_INTEL_ADC=y
CONFIG_INTEL_QEP=y
CONFIG_PWM_DWC=y
CONFIG_USB_SUPPORT=y
CONFIG_USB_DWC3=m
CONFIG_USB_DWC3_PCI=m
CONFIG_USB_GADGET=m
CONFIG_USB_ZERO=m
CONFIG_USB_MASS_STORAGE=m
CONFIG_CAN_M_CAN_PCI=m
CONFIG_I2C_I801=m
CONFIG_PTP_INTEL_TGPIO=m
CONFIG_PTP_INTEL_PMC_TGPIO=m
CONFIG_CAN_CALC_BITTIMING=m
