CONFIG_VIDEO_DEV=y
CONFIG_VIDEO_V4L2_SUBDEV_API=y
CONFIG_VIDEO_V4L2=y
CONFIG_VIDEO_INTEL_IPU=m
CONFIG_VIDEO_INTEL_IPU4=y
CONFIG_VIDEO_INTEL_IPU_SOC=y
CONFIG_VIDEO_INTEL_IPU_FW_LIB=y
CONFIG_VIDEO_MEM2MEM_DEINTERLACE=m
CONFIG_VIDEOBUF2_CORE=m
CONFIG_VIDEOBUF2_V4L2=m
CONFIG_VIDEOBUF2_MEMOPS=m
CONFIG_VIDEOBUF2_DMA_CONTIG=m
CONFIG_VIDEOBUF2_VMALLOC=m
CONFIG_VIDEO_CRLMODULE=m
CONFIG_VIDEO_TI964=m
CONFIG_VIDEO_TI960=m
CONFIG_VIDEO_MAX9286=y
CONFIG_INTEL_IPU4_BXT_P_PDATA=y
CONFIG_INTEL_IPU4_OV10635=y
CONFIG_INTEL_IPU4_AR0231AT=y
CONFIG_INTEL_IPU4_MAGNA=y
CONFIG_INTEL_IPU4_OV10640=y
CONFIG_INTEL_IPU4_ADV7481_EVAL=y
CONFIG_INTEL_IPU4_OX03A10=y
CONFIG_INTEL_IPU4_OV495=y
