CONFIG_RPMB_SUPPORT=y
CONFIG_RPMB=m
CONFIG_RPMB_INTF_DEV=y
CONFIG_RPMB_SIM=m
CONFIG_VIRTIO_RPMB=m
CONFIG_RPMB_MUX=m
CONFIG_VIRTIO_RPMB=m
CONFIG_RPMB_MUX_KEY=y
CONFIG_MMC=y
CONFIG_MMC_BLOCK=y
CONFIG_SCSI=y
CONFIG_SCSI_DMA=y
CONFIG_SCSI_LOWLEVEL=y
CONFIG_SCSI_UFSHCD=m
CONFIG_PCI=y
CONFIG_SCSI_UFSHCD_PCI=m
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_INTEL_MEI_SPD=m
