CONFIG_TYPEC=m
CONFIG_TYPEC_TCPM=m
CONFIG_TYPEC_FUSB302=m
CONFIG_TYPEC_WCOVE=m
CONFIG_TYPEC_UCSI=m
CONFIG_UCSI_ACPI=m
CONFIG_TYPEC_DP_ALTMODE=m
CONFIG_TYPEC_TPS6598X=m
CONFIG_TYPEC_MUX_PI3USB30532=m
CONFIG_USB_ROLE_SWITCH=m
CONFIG_USB_ROLES_INTEL_XHCI=m
CONFIG_INTEL_CHT_INT33FE=m
CONFIG_TYPEC_CCG_HPI=m
