CONFIG_ACRN=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_PCI_LEGACY=y
CONFIG_ACRN_VIRTIO_DEVICES=y
CONFIG_VBS=y
CONFIG_VBS_DEBUG=y
CONFIG_VBS_RNG=y
CONFIG_ACRN_SHARED_BUFFER=y
CONFIG_ACRN_TRACE=y
CONFIG_ACRN_HVLOG=y
CONFIG_ACRN_VHM=y
CONFIG_DRM_I915_GVT=y
CONFIG_DRM_I915_GVT_ACRN_GVT=y
CONFIG_HYPER_DMABUF=y
CONFIG_HYPER_DMABUF_ACRN=y
CONFIG_HYPER_DMABUF_VIRTIO_BE=y
CONFIG_HYPER_DMABUF_SYSFS=y
CONFIG_HYPER_DMABUF_EVENT_GEN=y
CONFIG_X86_X2APIC=y
CONFIG_ACRN_HV_NPK_LOG=y
CONFIG_X86_HV_CALLBACK_VECTOR=y
CONFIG_ACRN_GUEST=y
