# Copyright (C) 2019 Intel Corporation
# SPDX-License-Identifier: GPL-2.0-only

config VPUSMM
	tristate "Support for VPU Shared memory management"
	help
	  VPUSMM allocate/import DMABuf accessible to KeemBay VPU Sub-System
